body {
  font-family: sans-serif;
  background-color: #f1e9e1;
}
body nav {
  position: fixed;
  top: 0;
  left: 2.5vw;
  right: 2.5vw;
  height: 8vh;
  display: flex;
  align-items: flex-end;
  border-bottom: 2px solid black;
  padding-bottom: 1.5vh;
}
body nav h3 {
  margin: 0;
  margin-left: 2vw;
  font-size: 150%;
}
body nav a {
  margin-left: auto;
  font-size: 1em;
}
body nav .button {
  height: 20px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c9c3bf;
  padding: 10px;
  color: black;
  text-decoration: none;
  border-radius: 5%;
  font-size: 0.8em;
  font-weight: bold;
}
body nav .button:hover {
  background-color: #aba5a1;
  cursor: pointer;
}
body nav #cancel {
  margin-right: 40px;
}
body nav #delete-product-btn {
  height: 43.5px;
  margin-left: 20px;
  margin-right: 40px;
}
body nav #delete-product-btn:hover {
  background-color: #aba5a1;
  cursor: pointer;
}
body nav #deleteError {
  position: absolute;
  right: 30px;
  color: red;
  top: 8vh;
  font-size: 1.2em;
}
body #addContainer {
  margin-top: 15vh;
  margin-left: 6vw;
  margin-right: 6vw;
  height: 71vh;
}
body #addContainer #product_form {
  display: flex;
  flex-direction: column;
}
body #addContainer #product_form .row {
  margin: 10px;
  display: flex;
}
body #addContainer #product_form .row label {
  width: 120px;
}
body #addContainer #product_form .row p {
  margin: 0;
  margin-left: 20px;
  padding: 0;
  color: red;
}
body #addContainer #product_form #submit {
  position: relative;
  width: 80px;
  height: 40px;
  background-color: #c9c3bf;
  border: 2px solid black;
  margin-top: 3vh;
  border-radius: 5%;
  margin-left: 10px;
  font-size: 0.8em;
  font-weight: bold;
}
body #addContainer #product_form #submit:hover {
  cursor: pointer;
  background-color: #aba5a1;
}
body #addContainer #product_form #typeSpace .typeField {
  display: none;
}
body #addContainer #product_form #typeSpace .typeField .description {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.2em;
}
body #addContainer #product_form #typeSpace .DVDField {
  display: block;
}
body #form {
  min-height: 71vh;
}
body #form #productsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
  margin-top: 15vh;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}
body #form #productsContainer input {
  margin-right: auto;
  transform: scale(1.5);
}
body #form #productsContainer .product {
  background-color: #c9c3bf;
  border: 2px solid black;
  overflow: hidden;
  display: flex;
  border-radius: 3%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 30px;
}
body #form #productsContainer .product p {
  margin: 0;
}
body footer {
  position: sticky;
  margin-top: 40px;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
}
body footer p {
  font-size: 100%;
}/*# sourceMappingURL=style.css.map */